<html>
<head>
    <meta http-equiv="refresh" content="9">
    <style>
        body {
            background-color: #000;
        }
        .image {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="image">
        <img src="{{ .Data.OriginalUrl }}">
    </div>
</body>
</html>
